body {
    background-color: #fff0f5; /* rosa bem clarinho */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #d63384; /* rosa mais forte */
    margin-top: 40px;
    font-size: 40px;
}

p {
    color: #555;
    font-size: 18px;
}

button {
    background-color: #ff85a2;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

button:hover {
    background-color: #e75480;
}
.container {
    background: white;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h2 {
    color: #d63384;
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 18px;
}

.slogan {
    font-style: italic;
    margin-bottom: 20px;
}

.info {
    margin-top: 20px;
    color: #777;
}
.capa {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.instagram {
    display: inline-block;
    margin-top: 20px;
    color: #d63384;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.instagram:hover {
    color: #e75480;
}

.container {
    animation: aparecer 1s ease-in-out;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
form {
    margin-top: 20px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}

input:focus, select:focus {
    outline: none;
    border-color: #ff85a2;
}

form button {
    background-color: #ff85a2;
    width: 95%;
}
