body {
    background-color: #fff0f5; /* rosa bem clarinho */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #d63384; /* rosa mais forte */
    margin-top: 40px;
    font-size: 40px;
}

p {
    color: #555;
    font-size: 18px;
}

button {
    background-color: #ff85a2;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

button:hover {
    background-color: #e75480;
}
